<span class="<%= badge_classes %>" <% if @removable %>data-controller="badge"<% end %>>
  <% if @dot %>
    <svg class="mr-1.5 <%= dot_size_class %> <%= variant_config[:dot_color] %>" viewBox="0 0 8 8">
      <circle cx="4" cy="4" r="3" />
    </svg>
  <% end %>

  <% if @icon %>
    <%= @icon.html_safe %>
  <% end %>

  <%= @text %>

  <% if @removable %>
    <button type="button" class="<%= remove_button_class %>" data-action="click->badge#remove">
      <svg class="<%= icon_size_class %>" fill="currentColor" viewBox="0 0 20 20">
        <path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd" />
      </svg>
    </button>
  <% end %>
</span>

